input {
  box-sizing: border-box;
  padding: 6px;
  border-radius: 4px;
  width: 50%;
}
label {
  float: left;
  font-size: 14px;
  color: #343434;
  margin-left: 150px;
}
.error {
    line-height: 16px;
    min-height: 16px;
    width: 100%;
    color: #b90e0a;
    text-align: left;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: -5px;
  }